
script(type='text/javascript')
    var applicationId = #{app.id};
div.span13
    div.row
        div.span10
            h2= app.name
                small(style="margin-left: 1em") API:&nbsp;
                small#rootAppApiLink
    div.row#view
        div.span2
            div.well
                ul.nav.nav-list
                    li(class=(sub_view == 'objects') ? 'active' : '')
                        - var appLink = '/app/' + app.id + '/objects/'
                        a(href=appLink) Objects
                    li(class=(sub_view == 'testsuites') ? 'active' : '')
                        - var appLink = '/app/' + app.id + '/testsuites/'
                        a(href=appLink) Test Suites
                    li(class=(sub_view == 'notifications') ? 'active' : '')
                        - var appLink = '/app/' + app.id + '/notifications/'
                        a(href=appLink) Notifications
                    li(class=(sub_view == 'plugins') ? 'active' : '')
                        - var appLink = '/app/' + app.id + '/plugins/'
                        a(href=appLink) Plugins
            div.well.control-group
                p
                    button.btn.btn-primary#startAppBtn Start
                    button.btn.btn-danger(disabled="true")#stopAppBtn Stop

                p.form-inline
                    label.checkbox
                        input(type="checkbox")#routesArePublished
                        | Routes Published

                p
                    button.btn.btn-danger.btn-small#deleteAppBtn Delete
        div.span10
            - if (sub_view == 'objects')
                include app.objects.jade
            - else if (sub_view == 'testsuites')
                include app.testsuites.jade
            - else if (sub_view == 'notifications')
                include app.notifications.jade
            - else if (sub_view == 'plugins')
                include app.plugins.jade
            - else
                h1 Please select category
    script(type='text/javascript', src='/javascripts/app/views/app.view.js')
